<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Navigation</title>
        <% include head %>
    </head>
    <body>
        
        <div style="padding-top: 2em">
        
		<ol id='navigation-tree'>
            <li class='expanded'>
                <!-- ROOT -->
                <a href="<%=: project | toUrl %>" target="content">
                    <span class="node-icon <%=: project | toIcon %>"></span>
                    <%=: project | toText %>
                </a>
                <% if (project.getChildNodes().length > 0) { %>
                <ol>
                    <% project.getChildNodes().forEach(function (e1) { %>
                    <li class='expanded'>
                        
                        <!-- First Level -->
                        <a href="<%=: e1 | toUrl %>" target="content">
                            <span class="node-icon <%=: e1 | toIcon %>"></span>
                            <%=: e1 | toText %>
                        </a>
                        <% if (e1.getChildNodes().length > 0) { %>
                        <ol>
                            <% e1.getChildNodes().forEach(function (e2) { %>
                            <li>
                                
                                <!-- Second Level -->                                
                                <a href="<%=: e2 | toUrl %>" target="content">
                                    <span class="node-icon <%=: e2 | toIcon %>"></span>
                                    <%=: e2 | toText %>
                                </a>
                                <% if (e2.getChildNodes().length > 0) { %>
                                <ol>
                                    <% e2.getChildNodes().forEach(function (e3) { %>
                                    <li>

                                        <!-- Third Level -->
                                        <a href="<%=: e3 | toUrl %>" target="content">
                                            <span class="node-icon <%=: e3 | toIcon %>"></span>
                                            <%=: e3 | toText %>
                                        </a>
                                        <% if (e3.getChildNodes().length > 0) { %>
                                        <ol>
                                            <% e3.getChildNodes().forEach(function (e4) { %>
                                            <li>
                                                
                                                <!-- Fourth Level -->
                                                <a href="<%=: e4 | toUrl %>" target="content">
                                                    <span class="node-icon <%=: e4 | toIcon %>"></span>
                                                    <%=: e4 | toText %>
                                                </a>
                                                <% if (e4.getChildNodes().length > 0) { %>
                                                <ol>
                                                    <% e4.getChildNodes().forEach(function (e5) { %>
                                                    <li>
                                                        
                                                        <!-- Fifth Level -->
                                                        <a href="<%=: e5 | toUrl %>" target="content">
                                                            <span class="node-icon <%=: e5 | toIcon %>"></span>
                                                            <%=: e5 | toText %>
                                                        </a>
                                                        <% if (e5.getChildNodes().length > 0) { %>
                                                        <ol>
                                                            <% e5.getChildNodes().forEach(function (e6) { %>
                                                            <li>
                                                                
                                                                <!-- Sixth Level -->
                                                                <a href="<%=: e6 | toUrl %>" target="content">
                                                                    <span class="node-icon <%=: e6 | toIcon %>"></span>
                                                                    <%=: e6 | toText %>
                                                                </a>
                                                                <% if (e6.getChildNodes().length > 0) { %>
                                                                <ol>
                                                                    <% e6.getChildNodes().forEach(function (e7) { %>
                                                                    <li>

                                                                        <!-- Seventh Level -->
                                                                        <a href="<%=: e7 | toUrl %>" target="content">
                                                                            <span class="node-icon <%=: e7 | toIcon %>"></span>
                                                                            <%=: e7 | toText %>
                                                                        </a>

                                                                    </li>
                                                                    <% }); %>
                                                                </ol>
                                                                <% } %>
                                                                
                                                            </li>
                                                            <% }); %>
                                                        </ol>
                                                        <% } %>
                                                        
                                                    </li>
                                                    <% }); %>
                                                </ol>
                                                <% } %>
                                                
                                            </li>
                                            <% }); %>
                                        </ol>
                                        <% } %>
                                        
                                    </li>
                                    <% }); %>
                                </ol>
                                <% } %>
                                
                            </li>
                            <% }); %>
                        </ol>
                        <% } %>
                        
                    </li>
                    <% }); %>
                </ol>
                <% } %>
                
            </li>
		</ol>

        </div>            
            
		<script>
			$('#navigation-tree').bonsai();
		</script>        
        
    </body>    
</html>
